/* ====================================
// css variables
// ==================================== */

:root {
  --beige: #ebead2;
  --grey: #979797;
  --white: #fff;
  --black: #000;
  --gap: 15px;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.section {
  display: flex;
  background-color: var(--beige);
  padding: 10px 0;
  margin: 10px;
}

.box {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--grey);
  text-align: center;
}

.section-1 {
  flex-direction: row;
}

.section-1 .box {
  width: 25%;
}

.section-2 {
  flex-direction: row;
  flex-wrap: wrap;
}

.section-2 .box {
  width: 50%;
}

.section-3 {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap);
}

.section-3 .box {
  padding: 20px;
}

.section-4 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
}

.section-4 .box {
  width: 40%;
}

.section-5 {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap);
  padding: 10px;
}

.section-5 .box {
  padding: 10px;
}

.section-5 .box-2 {
  height: 80px;
}

.section-5 .box-3 {
  height: 60px;
}

.section-5 .box-4 {
  height: 100px;
}
